language: node_js
node_js:
  - "10"
addons:
  sonarcloud:
    organization: xyo-network
script:
  - sonar-scanner
  - ./dapploy init test
  - cd test
  - yarn
  - node_modules/.bin/ganache-cli > /dev/null &
  - sleep 5
  - ../dapploy -c .dapploy

