name: CI

on:
  push: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: build
      run: |
        ./dapploy init test
        cd test
        yarn
        node_modules/.bin/ganache-cli > /dev/null &
        sleep 5
        ../dapploy -c .dapploy
