name: CI

on:
  push: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: install
      run: yarn install
    - name: start test
      run: ./dapploy init test
    - name: change to test 
      run: cd test
    - name: second install
      run: yarn install
    - name: move node modules
      run: node_modules/.bin/ganache-cli > /dev/null & sleep 5
    - name: dapploy
      run: ./dapploy -c .dapploy
